@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* portfilo name ka css apply kiya  */
.logo {
    font-size: 25px;
    color: #525e79;
    text-decoration: none;
    font-weight: 700;
}

/* yeh nav bar ke elements ka color change kiya mene */
.navbar a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
/* yeh nav bar ke elements ka color change kiya jis page pr hai uska  mene 
aur jb uspr hover hoga tb bhi hoga */
.navbar a:hover, 
.navbar a.active{
    color: rgb(24, 212, 137);
}
/* /yeh main home name ka bnaya hai mene jisme mene background color diya  */
.home {
    height: 100vh;
    background: linear-gradient(-90deg, rgb(155, 12, 177) 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
/* 
isme mene image wala portition ko set kiya and background bhi bnaya hai  */
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}



/* .home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: rgb(29, 13, 102)), 0.39);
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
    /* border: 25px solid black;
    outline: 25px solid rgb(29, 13, 102)), 0.39); */


.home-image img {
    border-radius: 100%;
    position: relative;
    max-width: 380px;
}

.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}

/* yeh portition mai mene content ko design kiya aur animation use kiya */
.home-content h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;

    /* yeh animation ke liya use kiya aur uska type bhi diya  */
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%, 95%, 100% {
        background-position: -410px 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

.home-content p{
    font-size: 16px;
    margin-top: 20px;
}

.home-sci{
    margin: 25px 0 40px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
}

.home-sci a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.btn {
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}